---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import { SITE_URL } from "../consts";
import { formatDateShort } from "../utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <h1 class="title">{title}</h1>
      <time datetime={pubDate.toISOString()}>
        {formatDateShort(pubDate)}
      </time>
      <slot />
      <p>
        <em
          >Subscribe to the RSS feed <a href=`${SITE_URL}/rss.xml`>here</a>.</em
        >
      </p>
      {
        tags && (
          <div>
            {tags.sort().map((tag: string) => (
              <a class="tag" href={`/tags/${tag}/`}>
                #{tag}
              </a>
            ))}
          </div>
        )
      }
    </main>
  </body>
</html>
